{% set currentRoute = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% spaceless %}
    <!doctype html>
    <html class="no-js" lang="en">
    <head>
        {% block meta_data %}
            <meta charset="utf-8">
            <meta name="language" content="en">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% endblock %}

        <title></title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}

        {% block head_javascript %}
        {% endblock %}
    </head>
    <body>

    {% block body %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    </body>
    </html>
{% endspaceless %}