{% extends 'base.html.twig' %}

{% block body %}
	<form action="/test" method="POST">
		<fieldset>
			<legend>Annotation above class</legend>
			<input type="text" value="Yas" />
			<button type="submit">Submit</button>
		</fieldset>
	</form>

	<form action="/stories/john" method="POST">
		<fieldset>
			<legend>Annotation above route (not working as expected)</legend>
			<input type="text" value="Yas" />
			<button type="submit">Submit</button>
		</fieldset>
	</form>
{% endblock %}